AI_API_KEY="API_KEY_HERE"
USE_LLM7=true

APP_BASE_URL="http://localhost:5173"
FRONTEND_ORIGINS="http://localhost:5173"
SESSION_COOKIE_SECURE=false

MAIL_HOST=""
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM=""
